In [1]:
import pandas as pd
import json

In [2]:
# crime = pd.read_csv("Crimes_-_2001_to_present.csv")
# crime.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,1744168,G553545,09/15/2001 02:00:00 AM,013XX W POLK ST,0460,BATTERY,SIMPLE,STREET,False,False,...,NaN,NaN,08B,NaN,NaN,2001,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,1833988,G666677,11/02/2001 06:30:00 PM,002XX W CONGRESS PW,0810,THEFT,OVER $500,OTHER,False,False,...,NaN,NaN,06,NaN,NaN,2001,08/17/2015 03:03:40 PM,NaN,NaN,NaN
2,1896258,G749215,12/15/2001 02:00:00 AM,011XX N STATE ST,0460,BATTERY,SIMPLE,STREET,False,False,...,NaN,NaN,08B,NaN,NaN,2001,08/17/2015 03:03:40 PM,NaN,NaN,NaN
3,2370646,HH676216,09/26/2002 01:30:00 PM,034XX W 79TH ST,0460,BATTERY,SIMPLE,STREET,False,False,...,18.0,70.0,08B,NaN,NaN,2002,08/17/2015 03:03:40 PM,NaN,NaN,NaN
4,2378227,HH686534,10/01/2002 07:00:00 PM,022XX W NORTH AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,1.0,24.0,07,NaN,NaN,2002,08/17/2015 03:03:40 PM,NaN,NaN,NaN

In [2]:
# so this is how we use api

import pandas as pd
import json
import requests
from urllib.parse import quote

soql = "https://data.cityofchicago.org/resource/6zsd-86xi.json?$query="
soql += quote("SELECT community_area AS Community, count(*) AS Count ")
soql += quote("WHERE 2007 < year AND year < 2013 ")
soql += quote("GROUP BY Community LIMIT 10000")

resp = requests.get(soql).json()

# notice the 'count' function in line 2
# you should be able to play around it to get whatever you want
# I think we can stick with count for now

result = pd.DataFrame(resp)
# To check if this data is valid,
# I summed up all the count and happily 
# found out that it equals len(crime_0812_1)

result['Count'].astype(int).sum()

1877287

In [18]:
# To match the variable names later on
crime_0812 = result.copy()
crime_0812.head()

  Community  Count
0         0     30
1         1  28077
2        10   8071
3        11   7394
4        12   3448

In [2]:
# # This is how you use the 1.5 GB data
# # No longer needed

# crime_usecols = pd.read_csv("Crimes_-_2001_to_present.csv", usecols =[
#     'Date', 'Block', 'IUCR', 'Primary Type', 'Description',
#     'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 
#     'Ward', 'Community Area', 'FBI Code', 'Year', 'Updated On'
# ])

In [17]:
# crime_0812 = crime_usecols[crime_usecols['Year'].isin([2008, 2009, 2010, 2011, 2012])]

In [18]:
# len(crime_0812)

1877285

In [19]:
# crime_0812.keys()

Index(['Date', 'Block', 'IUCR', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'FBI Code', 'Year', 'Updated On'],
      dtype='object')

In [20]:
# crime_0812_1 = crime_0812.copy()
# crime_0812_1['Community Area'] = crime_0812['Community Area'].dropna(axis = 0, how='any')

In [31]:
socioeconomic = pd.read_csv("Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012.csv", index_col = ['Community Area Number'])
# socioeconomic.set_index('Community Area Number')
socioeconomic.head()

,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
Community Area Number,,,,,,,,
1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [34]:
crime_0812.rename(columns={'Community':'Community Area Number'}, inplace = True)
# crime_0812['Community Area Number'].astype(float, inplace = True)
crime_0812.head()

  Community Area Number  Count
0                     0     30
1                     1  28077
2                    10   8071
3                    11   7394
4                    12   3448

In [35]:
crime_0812.head()

  Community Area Number  Count
0                     0     30
1                     1  28077
2                    10   8071
3                    11   7394
4                    12   3448

In [36]:
crime_0812.set_index('Community Area Number')

                        Count
Community Area Number
0                          30
1                       28077
10                       8071
11                       7394
12                       3448
13                       6239
14                      16991
15                      24213
16                      22343
17                      12078
18                       4647
19                      37192
2                       24029
20                      11483
21                      18215
22                      39911
23                      60228
24                      55706
25                     121645
26                      33154
27                      34649
28                      50843
29                      53085
3                       26015
30                      31746
31                      17955
32                      40017
33                      11763
34                       6943
35                      15804
...                       ...
53                      31525
54                       7311
55                       4116
56                      14546
57                       7072
58                      18497
59                       7806
6                       38657
60                      12146
61                      39455
62                       7598
63                      18840
64                       7583
65                      14268
66                      50788
67                      57097
68                      51739
69                      47213
7                       29027
70                      17482
71                      55000
72                       6792
73                      22412
74                       4189
75                      15609
76                      10152
77                      18064
8                       59896
9                        1856
NaN                       855

[79 rows x 1 columns]

In [38]:
mix = pd.DataFrame.join(crime_0812, socioeconomic)

In [40]:
mix

,Community Area Number,Count,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,0,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,28077,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939.0,39.0
2,10,8071,West Ridge,7.8,17.2,8.8,20.8,38.5,23040.0,46.0
3,11,7394,Uptown,3.8,24.0,8.9,11.8,22.2,35787.0,20.0
4,12,3448,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524.0,17.0
5,13,6239,North Center,0.3,7.5,5.2,4.5,26.2,57123.0,6.0
6,14,16991,Lake View,1.1,11.4,4.7,2.6,17.0,60058.0,5.0
7,15,24213,Lincoln Park,0.8,12.3,5.1,3.6,21.5,71551.0,2.0
8,16,22343,Near North Side,1.9,12.9,7.0,2.5,22.6,88669.0,1.0
9,17,12078,Edison Park,1.1,3.3,6.5,7.4,35.3,40959.0,8.0
10,18,4647,Norwood Park,2.0,5.4,9.0,11.5,39.5,32875.0,21.0
11,19,37192,Jefferson Park,2.7,8.6,12.4,13.4,35.5,27751.0,25.0
12,2,24029,Forest Glen,1.1,7.5,6.8,4.9,40.5,44164.0,11.0
13,20,11483,North Park,3.9,13.2,9.9,14.4,39.0,26576.0,33.0
14,21,18215,Albany Park,11.3,19.2,10.0,32.9,32.0,21323.0,53.0
15,22,39911,Portage Park,4.1,11.6,12.6,19.3,34.0,24336.0,35.0
16,23,60228,Irving Park,6.3,13.1,10.0,22.4,31.6,27249.0,34.0
17,24,55706,Dunning,5.2,10.6,10.0,16.2,33.6,26282.0,28.0
18,25,121645,Montclaire,8.1,15.3,13.8,23.5,38.6,22014.0,50.0
19,26,33154,Belmont Cragin,10.8,18.7,14.6,37.3,37.3,15461.0,70.0
20,27,34649,Hermosa,6.9,20.5,13.1,41.6,36.4,15089.0,71.0
21,28,50843,Avondale,6.0,15.3,9.2,24.7,31.0,20039.0,42.0
22,29,53085,Logan Square,3.2,16.8,8.2,14.8,26.2,31908.0,23.0
23,3,26015,Humboldt park,14.8,33.9,17.3,35.4,38.0,13781.0,85.0
24,30,31746,West Town,2.3,14.7,6.6,12.9,21.7,43198.0,10.0
25,31,17955,Austin,6.3,28.6,22.6,24.4,37.9,15957.0,73.0
26,32,40017,West Garfield Park,9.4,41.7,25.8,24.5,43.6,10934.0,92.0
27,33,11763,East Garfield Park,8.2,42.4,19.6,21.3,43.2,12961.0,83.0
28,34,6943,Near West Side,3.8,20.6,10.7,9.6,22.2,44689.0,15.0
29,35,15804,North Lawndale,7.4,43.1,21.2,27.6,42.7,12034.0,87.0
...,...,...,...,...,...,...,...,...,...,...
49,53,31525,Roseland,2.5,19.8,20.3,16.9,41.2,17949.0,52.0
50,54,7311,Pullman,1.5,21.6,22.8,13.1,38.6,20588.0,51.0
51,55,4116,South Deering,4.0,29.2,16.3,21.0,39.5,14685.0,65.0
52,56,14546,East Side,6.8,19.2,12.1,31.9,42.8,17104.0,64.0
53,57,7072,West Pullman,3.3,25.9,19.4,20.5,42.1,16563.0,62.0
54,58,18497,Riverdale,5.8,56.5,34.6,27.5,51.5,8201.0,98.0
55,59,7806,Hegewisch,3.3,17.1,9.6,19.2,42.9,22677.0,44.0
56,6,38657,Garfield Ridge,2.6,8.8,11.3,19.3,38.1,26353.0,32.0
57,60,12146,Archer Heights,8.5,14.1,16.5,35.9,39.2,16134.0,67.0
58,61,39455,Brighton Park,14.4,23.6,13.9,45.1,39.3,13089.0,84.0
59,62,7598,McKinley Park,7.2,18.7,13.4,32.9,35.6,16954.0,61.0
60,63,18840,Bridgeport,4.5,18.9,13.7,22.2,31.3,22694.0,43.0
61,64,7583,New City,11.9,29.0,23.0,41.5,38.9,12765.0,91.0
62,65,14268,West Elsdon,11.1,15.6,16.7,37.0,37.7,15754.0,69.0
63,66,50788,Gage Park,15.8,23.4,18.2,51.5,38.8,12171.0,93.0
64,67,57097,Clearing,2.7,8.9,9.5,18.8,37.6,25113.0,29.0
65,68,51739,West Lawn,5.8,14.9,9.6,33.6,39.6,16907.0,56.0
66,69,47213,Chicago Lawn,7.6,27.9,17.1,31.2,40.6,13231.0,80.0
67,7,29027,West Englewood,4.8,34.4,35.9,26.3,40.7,11317.0,89.0
68,70,17482,Englewood,3.8,46.6,28.0,28.5,42.5,11888.0,94.0
69,71,55000,Greater Grand Crossing,3.6,29.6,23.0,16.5,41.0,17285.0,66.0
70,72,6792,Ashburn,4.0,10.4,11.7,17.7,36.9,23482.0,37.0
71,73,22412,Auburn Gresham,4.0,27.6,28.3,18.5,41.9,15528.0,74.0
72,74,4189,Beverly,0.9,5.1,8.0,3.7,40.5,39523.0,12.0
73,75,15609,Washington Height,1.1,16.9,20.8,13.7,42.6,19713.0,48.0
74,76,10152,Mount Greenwood,1.0,3.4,8.7,4.3,36.8,34381.0,16.0
75,77,18064,Morgan Park,0.8,13.2,15.0,10.8,40.3,27149.0,30.0
76,8,59896,O'Hare,3.6,15.4,7.1,10.9,30.3,25828.0,24.0
77,9,1856,Edgewater,4.1,18.2,9.2,9.7,23.8,33385.0,19.0
78,NaN,855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN