In [1]:
import pandas as pd
import json

In [2]:
# crime = pd.read_csv("Crimes_-_2001_to_present.csv")
# crime.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,1744168,G553545,09/15/2001 02:00:00 AM,013XX W POLK ST,0460,BATTERY,SIMPLE,STREET,False,False,...,NaN,NaN,08B,NaN,NaN,2001,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,1833988,G666677,11/02/2001 06:30:00 PM,002XX W CONGRESS PW,0810,THEFT,OVER $500,OTHER,False,False,...,NaN,NaN,06,NaN,NaN,2001,08/17/2015 03:03:40 PM,NaN,NaN,NaN
2,1896258,G749215,12/15/2001 02:00:00 AM,011XX N STATE ST,0460,BATTERY,SIMPLE,STREET,False,False,...,NaN,NaN,08B,NaN,NaN,2001,08/17/2015 03:03:40 PM,NaN,NaN,NaN
3,2370646,HH676216,09/26/2002 01:30:00 PM,034XX W 79TH ST,0460,BATTERY,SIMPLE,STREET,False,False,...,18.0,70.0,08B,NaN,NaN,2002,08/17/2015 03:03:40 PM,NaN,NaN,NaN
4,2378227,HH686534,10/01/2002 07:00:00 PM,022XX W NORTH AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,1.0,24.0,07,NaN,NaN,2002,08/17/2015 03:03:40 PM,NaN,NaN,NaN

In [2]:
crime_usecols = pd.read_csv("Crimes_-_2001_to_present.csv", usecols =[
    'Date', 'Block', 'IUCR', 'Primary Type', 'Description',
    'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 
    'Ward', 'Community Area', 'FBI Code', 'Year', 'Updated On'
])

In [17]:
crime_0812 = crime_usecols[crime_usecols['Year'].isin([2008, 2009, 2010, 2011, 2012])]

In [18]:
# len(crime_0812)

1877285

In [19]:
# crime_0812.keys()

Index(['Date', 'Block', 'IUCR', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area', 'FBI Code', 'Year', 'Updated On'],
      dtype='object')

In [20]:
crime_0812_1 = crime_0812.copy()
crime_0812_1['Community Area'] = crime_0812['Community Area'].dropna(axis = 0, how='any')

In [21]:
# crime_0812_1.head()
# len(crime_0812_1)

1877285

In [26]:
crimes = crime_0812_1.copy()

In [32]:
socioeconomic = pd.read_csv("Census_Data_-_Selected_socioeconomic_indicators_in_Chicago__2008___2012.csv")
socioeconomic.head()

,Community Area Number,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [34]:
crimes.rename(columns={'Community Area':'Community Area Number'}, inplace = True)

In [35]:
# crimes.keys()

Index(['Date', 'Block', 'IUCR', 'Primary Type', 'Description',
       'Location Description', 'Arrest', 'Domestic', 'Beat', 'District',
       'Ward', 'Community Area Number', 'FBI Code', 'Year', 'Updated On'],
      dtype='object')

In [39]:
mix = pd.merge(crimes, socioeconomic, on = 'Community Area Number')

In [40]:
mix.head()

,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,...,Year,Updated On,COMMUNITY AREA NAME,PERCENT OF HOUSING CROWDED,PERCENT HOUSEHOLDS BELOW POVERTY,PERCENT AGED 16+ UNEMPLOYED,PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA,PERCENT AGED UNDER 18 OR OVER 64,PER CAPITA INCOME,HARDSHIP INDEX
0,02/26/2008 12:00:00 AM,075XX N OAKLEY AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,2411,24.0,...,2008,08/17/2015 03:03:40 PM,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
1,10/10/2009 09:50:00 PM,024XX W NORTH SHORE AVE,0810,THEFT,OVER $500,STREET,False,False,2412,24.0,...,2009,08/17/2015 03:03:40 PM,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,06/25/2012 12:00:00 PM,056XX N ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,2011,20.0,...,2012,08/17/2015 03:03:40 PM,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
3,05/08/2008 08:30:00 PM,027XX W ARTHUR AVE,0930,MOTOR VEHICLE THEFT,THEFT/RECOVERY: AUTOMOBILE,STREET,False,False,2412,24.0,...,2008,08/17/2015 03:03:40 PM,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
4,09/16/2008 12:00:00 PM,064XX N SEELEY AVE,0820,THEFT,$500 AND UNDER,STREET,False,False,2412,24.0,...,2008,08/17/2015 03:03:40 PM,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0